<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="utf-8"/>
    <title>GeoEngine</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="csrf-token" content="LaYVN4oqwpc7d2BSAn2cQujt49B054XFgbxEeHgg"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="http://costes.qooetu.com/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css"
          rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="http://costes.qooetu.com/css/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="http://costes.qooetu.com/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="http://costes.qooetu.com/css/keyTable.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="http://costes.qooetu.com/assets/css/animate.min.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/css/style.min.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/css/theme/default.css" rel="stylesheet" id="theme"/>

    <link href="http://costes.qooetu.com/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet"/>

    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="http://costes.qooetu.com/assets/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css"
          rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/plugins/jquery-file-upload/css/jquery.fileupload-ui.css"
          rel="stylesheet"/>

    <link href="http://costes.qooetu.com/assets/plugins/morris/morris.css" rel="stylesheet"/>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="http://costes.qooetu.com/assets/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="http://costes.qooetu.com/css/wan-spinner.css">

    <link href="http://costes.qooetu.com/assets/select2/select2.css" rel="stylesheet" type="text/css">


    <link href="http://costes.qooetu.com/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"
          rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <style type="text/css">

        th, td {
            white-space: nowrap;
        }

        .dataTables_scrollBody thead tr[role="row"] {
            visibility: collapse !important;
        }


    </style>

    <link href="http://costes.qooetu.com/css/map.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/plugins/isotope/isotope.css" rel="stylesheet"/>
    <link href="http://costes.qooetu.com/assets/plugins/lightbox/css/lightbox.css" rel="stylesheet"/>
    <link href="" rel="stylesheet"/>
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->

    <script type="text/javascript">
        var imageid;
        var inputid;
        var mode;
        var images = [];
        var imageids = [];
        var dataid;
        var dataurl;
        var baseurl = 'http://costes.qooetu.com';
    </script>
    <script src="http://costes.qooetu.com/assets/plugins/pace/pace.min.js"></script>


    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->
<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #content -->


    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="" class="navbar-brand"><i></i>GeoEngine</a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form full-width">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter keyword"/>
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                        <i class="fa fa-bell-o"></i>
                        <span class="label">0</span>
                    </a>
                    <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                        <li class="dropdown-header">Notifications (0)</li>


                        <li class="dropdown-footer text-center">
                            <a href="javascript:;">View more</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->
    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">

            <ul class="nav">
                <li class="nav-header">Navigation</li>
                <li>
                    <a href="http://costes.qooetu.com/home">
                        <i class="fa fa-laptop"></i>
                        <span>Dashboard</span>
                    </a>
                </li>


                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-list"></i>
                        <span> Manage Datasets</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://costes.qooetu.com/authority/tender/create">Processed Dataset</a></li>

                        <li><a href="http://costes.qooetu.com/authority/tender/index">Dataset List</a></li>


                    </ul>
                </li>


                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-cloud-upload"></i>
                        <span>Process Dataset</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="http://costes.qooetu.com/authority/estimation/create">Upload Dataset</a>
                        </li>
                        <li><a href="http://costes.qooetu.com/authority/estimation/index">Process Dataset</a></li>


                    </ul>
                </li>


                <!-- begin sidebar minify button -->
                <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
                        class="fa fa-angle-double-left"></i></a></li>
                <!-- end sidebar minify button -->
            </ul>
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->
    <div id="content" class="content">
        <ol class="breadcrumb pull-right">

        </ol>


        <!-- end wizard step-3 -->

    </div>
    </form>

</div>


</div>
</div>

<!-- #modal-message -->
<div class="modal modal-message fade" id="modal-message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Media Manager</h4>
            </div>
            <div class="modal-body">
                <form id="fileupload" action="http://costes.qooetu.com/file/upload" method="POST"
                      enctype="multipart/form-data">
                    <div class="row fileupload-buttonbar">
                        <div class="col-md-12">
                                                        <span class="btn btn-success fileinput-button">
                                                            <i class="fa fa-plus"></i>
                                                            <span>Add files...</span>
                                                            <input type="file" name="files[]" multiple>
                                                        </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="fa fa-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="fa fa-ban"></i>
                                <span>Cancel upload</span>
                            </button>
                            <button type="button" class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-md-5 fileupload-progress fade">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                 aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped">
                        <tbody class="files"></tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12" id="load_more" data-lastid="">
                    <div class="row" style="margin-bottom: 5px;">
                        <h4 class="text-left">Choose Image(s)</h4>
                        <div class="superbox" data-offset="54" id="gallery-manager">


                        </div>
                    </div>
                </div>
                <a href="#" class="pull-left btn btn-default btn-sm"><i class="fa fa-refresh"></i> Load More Images</a>
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                <a href="javascript:;" data-id="" data-url="" id="insert_image" class="btn btn-sm btn-primary">Insert
                    Image</a>
            </div>
        </div>
    </div>
</div>


<!-- end page-header -->
</div>


<!-- end #content -->
<!-- begin #footer -->
<div id="footer" class="footer">
    &copy; 2019 GeiEngine Web Application - Developed By OOI All Rights Reserved
</div>
<!-- end #footer -->

<!-- begin scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
        class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->    </div>
<div class="modal fade" id="county-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="my-header">Give Reason(s)</h4>
            </div>

            <div class="modal-body" id="load-county-details">
                ghhghghghhghghg

            </div>


        </div>
    </div>
</div>


<!-- ================== BEGIN BASE JS ================== -->
<script src="http://costes.qooetu.com/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
		<script src="http://costes.qooetu.com/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="http://costes.qooetu.com/assets/crossbrowserjs/respond.min.js"></script>
		<script src="http://costes.qooetu.com/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="http://costes.qooetu.com/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-cookie/jquery.cookie.js"></script>

<script src="http://costes.qooetu.com/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="http://costes.qooetu.com/js/dataTables.fixedColumns.min.js" type="text/javascript"></script>
<script src="http://costes.qooetu.com/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="http://costes.qooetu.com/js/buttons.colVis.min.js" type="text/javascript"></script>
<script src="http://costes.qooetu.com/js/dataTables.keyTable.min.js" type="text/javascript"></script>


<script src="http://cdn.ckeditor.com/4.5.7/standard/ckeditor.js" type="text/javascript"></script>


<!-- The template to display files available for upload -->
{#    <script id="template-upload" type="text/x-tmpl">#}
{#        {% for (var i=0, file; file=o.files[i]; i++) { %}#}
{#            <tr class="template-upload fade">#}
{#                <td class="col-md-1">#}
{#                    <span class="preview"></span>#}
{#                </td>#}
{#                <td>#}
{#                    <p class="name">{%=file.name%}</p>#}
{#                    <strong class="error text-danger"></strong>#}
{#                </td>#}
{#                <td>#}
{#                    <p class="size">Processing...</p>#}
{#                    <div class="progress progress-striped active"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>#}
{#                </td>#}
{#                <td>#}
{#                    {% if (!i && !o.options.autoUpload) { %}#}
{#                        <button class="btn btn-primary btn-sm start" disabled>#}
{#                            <i class="fa fa-upload"></i>#}
{#                            <span>Start</span>#}
{#                        </button>#}
{#                    {% } %}#}
{#                    {% if (!i) { %}#}
{#                        <button class="btn btn-white btn-sm cancel">#}
{#                            <i class="fa fa-ban"></i>#}
{#                            <span>Cancel</span>#}
{#                        </button>#}
{#                    {% } %}#}
{#                </td>#}
{#            </tr>#}
{#        {% } %}#}
{#    </script>#}


<!-- The template to display files available for download -->
{#    <script id="template-download" type="text/x-tmpl">#}
{#        {% for (var i=0, file; file=o.files[i]; i++) { %}#}
{#            <tr class="template-download fade">#}
{#                <td>#}
{#                    <span class="preview">#}
{#                        {% if (file.thumbnailUrl) { %}#}
{#                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}" width="80" height="80"></a>#}
{#                        {% } %}#}
{#                    </span>#}
{#                </td>#}
{#                <td>#}
{#                    <p class="name">#}
{#                        {% if (file.url) { %}#}
{#                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>#}
{#                        {% } else { %}#}
{#                            <span>{%=file.name%}</span>#}
{#                        {% } %}#}
{#                    </p>#}
{#                    {% if (file.error) { %}#}
{#                        <div><span class="label label-danger">Error</span> {%=file.error%}</div>#}
{#                    {% } %}#}
{#                </td>#}
{#                <td>#}
{#                    <span class="size">{%=o.formatFileSize(file.size)%}</span>#}
{#                </td>#}
{#                <td>#}
{#                    {% if (file.deleteUrl) { %}#}
{#                        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>#}
{#                            <i class="glyphicon glyphicon-trash"></i>#}
{#                            <span>Delete</span>#}
{#                        </button>#}
{#                        <input type="checkbox" name="delete" value="1" class="toggle">#}
{#                    {% } else { %}#}
{#                        <button class="btn btn-warning cancel">#}
{#                            <i class="glyphicon glyphicon-ban-circle"></i>#}
{#                            <span>Cancel</span>#}
{#                        </button>#}
{#                    {% } %}#}
{#                </td>#}
{#            </tr>#}
{#        {% } %}#}
{#    </script>#}


<!-- ================== END BASE JS ================== -->

<script src="http://costes.qooetu.com/js/map.js" type="text/javascript"></script>

<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/vendor/tmpl.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/vendor/load-image.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/jquery.fileupload-image.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/jquery.fileupload-video.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jquery-file-upload/js/jquery.fileupload-ui.js"></script>

<script src="http://costes.qooetu.com/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="http://costes.qooetu.com/assets/js/form-plugins.demo.min.js"></script>
<script type="text/javascript">
    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });
</script>


<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="http://costes.qooetu.com/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="http://costes.qooetu.com/assets/js/apps.min.js"></script>
<script type="text/javascript" src="http://costes.qooetu.com/js/wan-spinner.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/morris/raphael.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/morris/morris.js"></script>
<script src="http://costes.qooetu.com/assets/js/chart-morris.demo.min.js"></script>
<script src="http://costes.qooetu.com/assets/plugins/jstree/dist/jstree.min.js"></script>
<script src="http://costes.qooetu.com/assets/js/ui-tree.demo.min.js"></script>
<script type="text/javascript" src="http://costes.qooetu.com/assets/js/bootbox.js"></script>
<script src="http://costes.qooetu.com/assets/select2/select2.full.min.js" type="text/javascript"></script>


<script src="http://costes.qooetu.com/assets/js/highcharts.js" type="text/javascript"></script>
<script src="http://costes.qooetu.com/assets/js/highcharts-3d.js" type="text/javascript"></script>

<!-- ================== END PAGE LEVEL JS ================== -->
<script src="http://costes.qooetu.com/assets/js/form-multiple-upload.demo.min.js"></script>


<script>
    $(document).ready(function () {
        App.init();

        $("#uploadmodal").on("click", function () {
            $(".files").html("");
        });


        $(document).on('click', '.reject-modal', function () {
            var head = $(this).attr('data-title');

            var url = $(this).attr("data-url");
            $("#load-county-details").html("");
            $("#my-header").html(" ");
            $("#my-header").html(head);
            $("#county-modal").modal("show");
            $("#load-county-details").load(url, function (data) {
                $("#county-modal").modal("show");

            });
        });

        $(document).on('click', '.review-record', function (e) {
            e.preventDefault();
            var name = "Record";
            var action = $(this).attr("data-action");
            if (action.length < 1 || action == "") {
                action = "Review";
            }
            var message = "Confirm you want to " + action + " this " + name;
            var url = $(this).attr("data-url");
            var url_to = $(this).attr("data-redirect-to");
            var record = bootbox.confirm(message, function (res) {
                if (res == true) {

                    $.post(url, function () {

                        window.location.href = url_to;
                    });
                } else {

                }
            });


        });


        $(document).on('click', '.reinstate,.reinstated', function () {
            var name = $(this).attr('data-name');
            var x = confirm("Confirm you want to Reinstate This " + name);
            if (x == true) {
                var url = $(this).attr("data-url");
                var after_action = $(this).attr("data-after");
                $.post(url, function (data) {
                    window.location.href = after_action;
                });
            }

        });

        $(document).on('click', '.delete-record', function () {
            var x = confirm("Confirm you want to Delete This Record ");
            if (x == true) {
                var url = $(this).attr("data-href");
                var after_action = $(this).attr("data-url-to");
                $.post(url, function (data) {
                    window.location.href = after_action;
                });
            }
        });


    });

    $(".select2").select2({});


</script>
<script type="text/javascript">

    $(".major-work,.allowed-length,.realNumber,.number").on("keydown", function (event) {

        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) ||
            (event.keyCode >= 96 && event.keyCode <= 105) ||
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }
        if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault();


    });
</script>


<link href="http://costes.qooetu.com/assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" id="theme"/>
<link href="http://costes.qooetu.com/assets/plugins/parsley/src/parsley.css" rel="stylesheet" id="theme"/>

<script src="http://costes.qooetu.com/assets/plugins/parsley/dist/parsley.js" type="text/javascript"></script>
<script src="http://costes.qooetu.com/assets/plugins/bootstrap-wizard/js/bwizard.js" type="text/javascript"></script>

<script src="http://costes.qooetu.com/assets/js/form-wizards-validation.demo.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        FormWizardValidation.init();


        $("#datepicker")
            .datepicker({

                maxDate: 0,
                changeMonth: true,
                dateFormat: "yy-mm-dd",
                numberOfMonths: 1,

            });

    });

    $("#authority-id").on("change", function (e) {
        e.preventDefault();
        var value = $(this).val();
        if (value.length > 0) {
            var url = "http://costes.qooetu.com/authority/estimation/get_regions/" + value;
            $.post(url, function (data) {
                $("#regionId").html("");
                $("#regionId").html(data);

            })


        }

    });


    $("#authority-id").on("change", function (e) {
        e.preventDefault();
        var value = $(this).val();
        if (value.length > 0) {
            var url = "http://costes.qooetu.com/authority/estimation/get_year/" + value;
            $.post(url, function (data) {
                $("#Year").html("");
                $("#Year").html(data);

            })

        }

    });


    function drawContentTable(id) {
        var url = "http://costes.qooetu.com/authority/estimation/get_content/" + id;
        $.post(url, function (data) {
            $("#content-set").html(data);

        })
    }


    function drawHaulageTable(id) {
        var url = "http://costes.qooetu.com/authority/estimation/get_haulage/" + id;
        $.post(url, function (data) {
            $("#haulage-set").html(data);

        })

    }


    $(".period").on("input", function (e) {
        e.preventDefault();
        var imp = $("#imp").val();
        var dry = $("#dry").val();
        var wet = $("#wet").val();
        if (imp == "") {
            imp = 0;
        } else {
            imp = parseFloat(imp);
        }
        if (dry == "") {
            dry = 0;
        } else {
            dry = parseFloat(dry);
        }

        if (wet == "") {
            wet = 0;
        } else {
            wet = parseFloat(wet);
        }


        var total = (imp + dry + wet).toFixed(1);
        $("#total").val(total);


    });

    $(".period").on("keydown", function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) ||
            (event.keyCode >= 96 && event.keyCode <= 105) ||
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }
        if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault();


    });


    $(".major-work,.allowed-length").on("keydown", function (event) {

        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) ||
            (event.keyCode >= 96 && event.keyCode <= 105) ||
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }
        if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault();


    });


    $(".my-input-method").on('click', function () {
        var method = ($("input[name=input_option]:checked").val());

        if (method == "StandardizedQuantity") {
            $(".major-work").attr("readonly", true);
            $(".major-work").attr("required", false);
            var other = "<option>KM Standardized Quantity</option>";
            $(".new-method").html(other);
            $(this).prop('checked', false);
        } else if (method == "SimpleQuantity") {
            $(".major-work").attr("readonly", false);
            $(".major-work").attr("required", true);
            var other = "<option>Simple Quantity</option>";
            $(".new-method").html(other);

        } else if (method == "ActualQuantity") {
            $(".major-work").attr("readonly", false);
            $(".major-work").attr("required", true);
            var other = "<option>Actual Quantity</option>";
            $(".new-method").html(other);

        } else {

            $(".major-work").attr("readonly", false);
            $(".major-work").attr("required", true);
            var other = "<option>Actual Quantity</option><option>KM Standardized Quantity</option><option>Simple Quantity</option>";
            $(".new-method").html(other);


        }


    });

    $("body").on("change", ".new-method", function (e) {
        e.preventDefault();
        var value = $(this).val();

        if (value == "KM Standardized Quantity") {
            $(this).parent().parent().find(".myvalue").attr('readonly', true);
            $(this).parent().parent().find(".myvalue").attr('required', false);

        } else {
            $(this).parent().parent().find(".myvalue").attr('readonly', false);
            $(this).parent().parent().find(".myvalue").attr('required', true);
        }


    });


    $("#tender_number").on("input", function (e) {
        e.preventDefault();
        var value = $(this).val();
        var url = "http://costes.qooetu.com/authority/estimation/getProjectDetails/" + value;
        if (value.length > 4) {
            $.getJSON(url, function (data) {
                $("#tender_number").val(data.project_name);
                $("#placeofwork").val(data.place_of_work);
                $("#roadName").val(data.road_name);
                $("#Lenghth").val(data.road_length);


            })
        }

    });


    var validate = function (e) {
        var t = e.value;
        e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 2)) : t;
    }


</script>
<script type="text/javascript">
    var options = {
        maxValue: 10,
        minValue: -5,
        step: 0.5,
        inputWidth: 100,
        start: -2,
        plusClick: function (val) {
            console.log(val);
        },
        minusClick: function (val) {
            console.log(val);
        },
        exceptionFun: function (val) {
            console.log("excep: " + val);
        },
        valueChanged: function (val) {
            console.log('change: ' + val);
        }
    }
    $(".wan-spinner-1").WanSpinner(options);
</script>


<script type="text/javascript">

    $(document).ready(function () {

        FormMultipleUpload.init();

        $("body").on("change", 'input[name=icon]', function () {

            dataid = $(this).attr("data-id");
            dataurl = $(this).attr("data-url");
        });

        $("#insert_image").on("click", function () {

            if (mode == "multiple") {
                images = [];
                imagesids = [];
                $("#gallery-manager input:checkbox:checked").each(function () {
                    images.push($(this).attr('data-url'));
                    imageids.push($(this).attr('data-id'));
                });


                $.each(images, function (index, item) {

                    var html_image = "<div class='superbox-list'>" +
                        "<img src='" + item + "' style='width:200px;height: 100px;' class='superbox-img' />" +
                        "</div>";
                    //console.log(imageid);

                    $("#" + imageid).prepend(html_image);

                });
                var ids = "";

                $.each(imageids, function (index, item) {

                    ids = ids + item + ",";
                    //console.log(imageid);
                });
                //console.log(ids);
                $("#" + inputid).val(ids);
            } else {
                //console.log(imageid);
                $("#" + inputid).val(dataid);
                $("#" + imageid).attr("src", dataurl);
            }

            $("#modal-message").modal('hide');
        });

        $(".uploadmodalwidget").on("click", function () {
            $(".files").html("");
            $("#gallery-manager").html("");
            inputid = $(this).attr("data-inputid");
            mode = $(this).attr("data-mode");
            imageid = $(this).attr("data-divid");
            $.post("http://school.dev/file/fetch").done(function (data) {
                var data = $.parseJSON(data);
                if (mode == "multiple") {
                    // imageid=$(this).attr("data-divid");
                    $.each(data, function (key, value) {
                        if (value.extention == "pdf") {
                            var html_image_multiple = "<div class='superbox-list'>" +
                                "<img src='" + baseurl + "/img/pdf.png' style='width:100px;height: 75px;' class='superbox-img' />" +
                                "<div class='input-group'>" +
                                "<span class='input-group-addon'>" +
                                "<input data-url='" + baseurl + "/uploads/" + value.filename + "' data-id='" + value.id + "' type='checkbox' name='icon'>" +
                                "</span>" +
                                "<a href='#' class='form-control'>View</a>" +
                                "</div>" +

                                "</div>";
                        } else {
                            var html_image_multiple = "<div class='superbox-list'>" +
                                "<img src='" + baseurl + "/uploads/" + value.filename + "' style='width:100px;height: 75px;' class='superbox-img' />" +
                                "<div class='input-group'>" +
                                "<span class='input-group-addon'>" +
                                "<input data-url='" + baseurl + "/uploads/" + value.filename + "' data-id='" + value.id + "' type='checkbox' name='icon'>" +
                                "</span>" +
                                "<input type='text' readonly class='form-control' value='Select'>" +
                                "</div>" +
                                "</div>";
                        }

                        $("#gallery-manager").prepend(html_image_multiple);

                        //console.log(value);
                    });
                } else {

                    $.each(data, function (key, value) {

                        var html_image_single = "<div class='superbox-list'>" +
                            "<img src='" + baseurl + "/uploads/" + value.filename + "' style='width:100px;height: 75px;' class='superbox-img' />" +
                            "<div class='input-group'>" +
                            "<span class='input-group-addon'>" +
                            "<input data-url='" + baseurl + "/uploads/" + value.filename + "' data-id='" + value.id + "' type='radio' name='icon'>" +
                            "</span>" +
                            "<input type='text' readonly class='form-control' value='Select'>" +
                            "</div>" +
                            "</div>";

                        $("#gallery-manager").prepend(html_image_single);
                        //console.log(value);
                    });
                }
                //console.log(data);
            });
        });


    });

</script>


</body>
</html>
